APP_ENV=development
SERVICE_PORT=8000
JWT_SECRET_KEY=change_me_in_production
REQUEST_SERVICE_URL=http://request-service:8000/api/v1/requests/
NOTIFICATION_SERVICE_URL=http://notification-service:8000
LOCATION_SERVICE_URL=http://location-service:8000/api/v1/validate/
TICKET_SERVICE_URL=http://ticket-service:8000
