APP_ENV=development
SERVICE_PORT=8000
RABBITMQ_USER=change_me
RABBITMQ_PASSWORD=change_me
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_URL=amqp://change_me:change_me@rabbitmq:5672/
GATEWAY_URL=http://gateway:8000
